<div class="panel panel-default" ng-init="getProfile();getWorks();getEducations()">
	<div class="col-xs-4 well">
		<div class="row">
			<div class="col-xs-12">
				<img src="../img/{{profile.pictureUrl}}" alt="" class="img-responsive img-thumbnail" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">{{profile.fname}} {{profile.lname}}</h2>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">info</div>
					</div>
					<div class="panel-body">
						<p><i class="glyphicon glyphicon-map-marker"></i>{{profile.coordinate.City + ', ' + profile.coordinate.State + ', ' + profile.coordinate.Country}}<br />
						<i class="glyphicon glyphicon-envelope"></i><a href="mailto:{{profile.email}}">{{profile.email}}</a><br />
						<i class="glyphicon glyphicon-phone"></i>{{profile.phone}}<br />
						</p>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">About Me</div>
					</div>
					<div class="panel-body">
						<p>{{profile.description}}</p>
					</div>
				</div>
				<div>
					<a href="../files/Aoran_Resume_en.docx" class="btn btn-success text-center"><i class="glyphicon glyphicon-cloud-download"></i>Resume</a>
					<a href="../files/Aoran_portfolio.pdf" class="btn btn-warning text-center"><i class="glyphicon glyphicon-cloud-download"></i>Portfolio</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8 profile-main">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title text-center">
							<i class="glyphicon glyphicon-briefcase"></i>Experiences
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div class="list-group-item" ng-repeat="work in works">
								<small class="pull-right">({{work.start | date:'MMM yyyy'}} - {{work.end | date: 'MMM yyyy'}})</small>
								<h4>{{work.title}}</h4>
								<p>{{work.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title text-center">
							<i class="glyphicon glyphicon-education"></i>Educations
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div class="list-group-item" ng-repeat="education in educations">
								<small class="pull-right">({{education.start | date:'yyyy'}} - {{education.end | date: 'yyyy'}})</small>
								<h4>{{education.title}}</h4>
								<h5 style="color: blue;">{{education.school}}</h5>
								<p>{{education.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title text-center">
							<i class="glyphicon glyphicon-wrench"></i>Skills
						</div>
					</div>
					<div class="panel-body">
						<div class="row" ng-repeat="skill in profile.skills">
							<div class="col-xs-3">
								<p>{{skill.skill}}</p>
							</div>
							<div class="col-xs-9">
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.score}}%;" ng-if="skill.score > 80"></div>
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.score}}%;" ng-if="skill.score > 60 && skill.score <= 80"></div>
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.score}}%;" ng-if="skill.score > 40 && skill.score <= 60"></div>
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{skill.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.score}}%;" ng-if="skill.score <= 40"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>